header {
    background-color: #689F38;
    padding: 14px;
    h1 {
        font-weight: 200;
        color: #fff;
    }
}

.wrapper {
    display: flex;
height: 100%;;

    nav {
      background-color: #F5F7F9;

    }

    section {
        margin-left: 24px;
        margin-right: 24px;
        flex: 1;
    }
}
